{% extends 'bonge/base.html' %}
{% load static %}


{% block content %}
<div class="col-md-12 col-md-offset-4" style="padding-top: 90px">

<h1 style="color: rgb(158, 158, 34); text-align:center; font-size:25px">Text Classification using Naive Bayes Algorithm.</h1>
<br>

<div class="card mb-4">
  <img src="{% static 'bonge/images/tenor2.gif' %}" class="card-img-top" alt="...">
  <div class="card-body">

    <center><h5 class="card-title" id="form-header">Please Fill Text In To Classify</h5></center>

    <center><h1 class="card-title">{{ context }}</h1></center>
    

    <form method="POST" action="{% url 'predict' %}" id="myform">
      {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
           <input type="text" class="form-control" name="usertext" id="usertext" placeholder="Write Your Text Here" required="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" style="color: #ffff00" class="btn btn-primary" id="btn">Predict</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
{% endblock %}